@using Entity.Concrete
@model List<Randevular>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<link rel="stylesheet" href="~/mazer/assets/extensions/simple-datatables/style.css">
<link rel="stylesheet" href="~/mazer/assets/css/pages/simple-datatables.css">
<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Randevular</h3>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                </ol>
            </nav>
        </div>
    </div>
</div>
<section class="section">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th>Randevu Durumu</th>
                        <th>İsim</th>
                        <th>Konu</th>
                        <th>Telefon</th>
                        <th>Ziyaret Edilen</th>
                        <th>Başlangıç-Bitiş</th>
                        <th>Oluşturan</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>

                                @if (item.RandevuDurumu.Randevudurumu == "İptal Edildi")
                                {
                                    <span class="badge bg-danger">@item.RandevuDurumu.Randevudurumu</span>
                                }
                                else if (item.RandevuDurumu.Randevudurumu == "Ertelendi")
                                {
                                    <span class="badge bg-warning">@item.RandevuDurumu.Randevudurumu</span>
                                }
                                else if (item.RandevuDurumu.Randevudurumu == "Tamamlandı")
                                {
                                    <span class="badge bg-secondary">@item.RandevuDurumu.Randevudurumu</span>
                                }
                                else
                                {
                                    <span class="badge bg-info">@item.RandevuDurumu.Randevudurumu</span>
                                }
                            </td>
                            <td>@item.RandevuyaGelen</td>
                            <td>@item.Konu</td>
                            <td>@item.Telefon</td>
                            <td>@item.ZiyaretEdilenKisi.Name</td>
                            <td>
                                @item.StartTime
                                @item.EndTime
                            </td>
                            <td>@item.RandevuKaydeden.Name</td>
                            <td>
                                <a href="~/Randevu/RandevuSil/@item.RandevuId"><span asp-action="RandevuSil" class="badge bg-info">Sil</span></a>
                                <a href="~/Randevu/RandevuDuzenle/@item.RandevuId"><span class="badge bg-info">Güncelle</span></a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>

</section>


<script src="~/mazer/assets/extensions/simple-datatables/umd/simple-datatables.js"></script>
<script src="~/mazer/assets/js/pages/simple-datatables.js"></script>
