@model Entity.Concrete.Randevular
@{
    ViewData["Title"] = "RandevuDuzenle";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>RandevuDuzenle</h1>

<section id="basic-vertical-layouts">
    <div class="row match-height">

        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Randevu Düzenle</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-vertical" method="post" >
                            <div class="form-body">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="first-name-icon">İsim</label>
                                            <div class="position-relative">
                                                <input type="text" asp-for="RandevuyaGelen" class="form-control"
                                                       id="first-name-icon">
                                                <div class="form-control-icon">
                                                    <i class="bi bi-person"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label>Başlangıç Saati</label>
                                        <fieldset class="form-group">
                                            <input type="datetime-local" class="form-control" asp-for="StartTime" required />
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <label>Bitiş Saati</label>
                                        <fieldset class="form-group">
                                            <input type="datetime-local" class="form-control" asp-for="EndTime" required />
                                        </fieldset>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="mobile-id-icon">Telefon</label>
                                            <div class="position-relative">
                                                <input type="tel" pattern="[0]{1}[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="05XXXXXXXXX" asp-for="Telefon" class="form-control"
                                                       id="first-name-icon" required>
                                                <div class="form-control-icon">
                                                    <i class="bi bi-phone"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden">
                                        <div class="fhidden">
                                            <div class="hidden">
                                                <input type="hidden" class="hidden" asp-for="RandevuId" id="mobile-id-icon">
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <style>
                                            textarea {
                                                margin-bottom: 0.7rem;
                                                margin-top: 0.7rem
                                            }</style>
                                        <div class="form-floating">
                                            <textarea class="form-control" asp-for="Konu" id="floatingTextarea" placeholder="Konu"></textarea>
                                            <label for="floatingTextarea">Konu</label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="first-name-icon">Ziyaret Edilen</label>
                                            <div class="position-relative">
                                                <select class="form-select" asp-for="ZiyaretEdilenKisiId" id="basicSelect" name="ZiyaretEdilenKisiId">
                                                    @foreach (var item in ViewBag.User)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="password-id-icon">Randevuyu Kaydeden</label>
                                            <div class="position-relative">
                                                <select class="form-select" asp-for="RandevuKaydedenId" id="basicSelect" name="RandevuKaydedenId">
                                                    @foreach (var item in ViewBag.User)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="password-id-icon">Randevu Durumu</label>
                                            <div class="position-relative">
                                                <select class="form-select" asp-for="RandevuDurumuId" id="basicSelect" name="RandevuDurumuId">
                                                    @foreach (var item in ViewBag.randur)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1">Değişiklikleri Kaydet</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
